body {
    background-color: #64e0ad;
    min-height: 100%;
	margin: 0;
	padding: 0;
}

#information-holder {
    background-color: #e8e8e8;
    min-height: 100vh;
    width: 1366px;
    display: flex;
    margin: auto;
    
}

.support-info {
    background-color: #00a700;
    min-height: 100%;
    flex: 0 0 150px;
    display: block;
    text-align: center;
}

.support-info a {
	display: block;
	padding: 10px;
	color: white;
	font-family: sans-serif;
	
}

label {
    display: inline-block;
    padding: 10px;
    color: white;
    font-family: sans-serif;
}


#main-text {
    flex: 1 1 150px;
    color:blue;
}
/* Container used to hold the squares/info boxes */
#holder {
    margin: 10px 15px;
    flex: 1 1 150px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Allows squares to wrap to next level if no more room on first level */
#holder.fit {
    flex-wrap: wrap;
}
/* Defines what the square is and flex properties */
.square {
    flex: 0 0 200px;
    height: 260px;
    background-color: rgb(255, 255, 255);
    border: solid black;
    margin: 10px
}

.desc {
    font-family: sans-serif;
    padding: 3px;
}

/* Media Queries used to determine what the page will look like at certain screen resolutions */
@media only screen and (max-width: 1300px) {
	#information-holder {
        flex-direction: column;
        width: 1000px;
    }

    .support-info {
        min-height: 30px;
		flex: 0 0 35px;
    }

    .support-info a {
        display:inline-block;
    }
}

@media only screen and (min-width: 780px) and (max-width: 1050px) {
	#information-holder {
        width: 720px;
    }

    .support-info {
        min-height: 35px;
		flex: 0 0 35px;
    }

    .support-info a {
        display:inline-block;
    }
}

@media only screen and (min-width: 540px) and (max-width: 779px) {
	#information-holder {
        width: 480px;
    }

    .support-info {
        min-height: 75px;
		flex: 0 0 35px;
    }
}

@media only screen and (max-width: 539px) {
    #information-holder {
        width: 360px;
    }

    .support-info {
        min-height: 75px;
		flex: 0 0 35px;
    }
}